*,
*::before,
*::after {
    box-sizing: border-box;
}
.calculator{
    border-radius: 8px;
    background-color: #edf1f4;
	margin: 100px auto;
	padding: 20px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    max-width: 520px;
}
.calculator__form{
    /* display: flex; */
    /* grid-template-columns: 1fr 1fr; */
}
.calculator__title{
    font-size: 2em;
    text-align: center;
}
.calculator__item{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 360px 100px;
    gap: 10px;
}
.calculator__item label{
    font-size: 1.2em;
}
.calculator__input{
    height: 40px;
    font-size: 1.2em;
    padding: 0 10px;
    color: #8f8f8f;
    outline: none;
    border: 2px solid #00b954;
    border-radius: 8px;
    cursor: pointer;
}
.calculator__input:hover{
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
}
.calculator__input:focus{
    border: 2px solid #236b43;  
}

.calculator__start{
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    background-color: #00b954;
    border-radius: 8px;
    display: flex;
    margin: 20px auto;
    transition:  0.3s all;
}
.calculator__start:hover{
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
}

.calculation{
    display: none;
}

.calculation__title{
    font-size: 1.2em;
}
.calculation__item{
    display: grid;
    grid-template-columns: 360px 300px;
    gap: 20px;
    margin-bottom: 20px;

}

.calculation__value{
    display: block;
    font-size: 1.5em;
    color: #00b954;
}